/* You can add global styles to this file, and also import other style files */
body{
    height: 100%;
    background-color:whitesmoke;

}
#background{
    height: 700px;
    width: 400px;
    align-items: center;
    margin : auto;
    position: relative;
    top:20px;
    background-image: url('c36c59a20669ef58a14cb92a1d8718b7.jpg');
}

